body {
  font-family: Arial, sans-serif;
  background-color: #45ecc2ff;
  text-align: center;
}

h2 {
  margin-top: 30px;
}

/* YouTube */
.video-container {
  width: 70%;
  margin: auto;
  aspect-ratio: 16 / 9;
}

/* PDF & Webpage */
.pdf-container,
.webpage-container {
  width: 70%;
  height: 500px;
  margin: 20px auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
table {
  width: 70%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: white;
}
th,
td {
  border: 1px solid #333;
  padding: 12px;
}
th {
  background-color: #e66969ff;
}
